<launch>

  <arg name="map_file" default="$(find rc_bringup)/map/laba_209.yaml"/>

	<!--remote controll -->	
	<!--<node pkg="rc_bringup" name="rc_node" type="rc_control.py" respawn="true" output="screen">
	<param name="cmd_vel" value="cmd_vel"/>
	<param name="pwm_topic" value="pwm"/>
	<param name="drive_topic" value="ackermann_cmd"/>
	<param name="max_vel" value="1.0"/>
	<param name="min_vel" value="-1.0"/>
	<param name="wheelbase" value="0.28"/>
	<param name="max_steering_angle" value="25.0"/>
	<param name="servo_pin" value="22"/>
	<param name="middle_servo" value="1550"/>
	<param name="servo_offset" value="47"/>    
	<param name="motor_pin" value="4"/>
	<param name="middle_motor" value="1550"/>
	<param name="revers_servo" value="True"/>
	</node>-->
		

	<!-- Rplidar -->
	<include file="$(find rc_bringup)/launch/rplidar.launch"/>

	<!-- Tf-->
	<include file="$(find rc_bringup)/launch/tf.launch"/>


	<!-- Odometry from lidar data-->
	<include file="$(find rc_bringup)/launch/odom_laser.launch"/>

	<!--tf to vel -->	
	<node pkg="rc_bringup" name="rc_vel_node" type="tf_to_vel.py" respawn="true" output="screen">
	<param name="vel_topic" value="velocity"/>
	<param name="base_link" value="odom"/>
	<param name="child_link" value="base_link"/>
	</node>

	<!--tf to pose-->
	<node pkg="rc_bringup" name="tf_to_pose" type="tf_to_pose.py" respawn="true" output="screen">
	<param name="pose_topic" value="pose"/>
	<param name="base_link" value="map"/>
	<param name="child_link" value="base_link"/>
	</node>

	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10" />

</launch>
