<?xml version="1.0"?>
<launch>
	<!--gyro -->
	<!--node name="mpu6050_node" pkg="mpu6050" type="mpu6050_node"/-->

	<!--remote controll -->	
	<node pkg="rc_bringup" name="rc_node" type="rc_control.py" respawn="true" output="screen">
	<param name="cmd_vel" value="cmd_vel"/>
	<param name="pwm_topic" value="pwm"/>
	<param name="drive_topic" value="ackermann_cmd"/>
	<param name="max_vel" value="2.4"/>
	<param name="min_vel" value="0.7"/>
	<param name="wheelbase" value="0.28"/>
	<param name="max_steering_angle" value="25.0"/>
	<param name="servo_pin" value="4"/>
	<param name="middle_servo" value="1500"/>
	<param name="servo_offset" value="47"/>
	<param name="motor_pin" value="17"/>
	<param name="middle_motor" value="1550"/>
	<param name="revers_servo" value="False"/>
	</node>

	<!-- Rplidar -->
	<include file="$(find rc_bringup)/launch/rplidar.launch"/>

	<!-- Hector -->
	<include file="$(find rc_bringup)/launch/mapping_default.launch"/>
	<include file="$(find rc_bringup)/launch/tf.launch"/>
	<!--tf to vel -->	

	<node pkg="rc_bringup" name="rc_vel_node" type="tf_to_vel.py" respawn="true" output="screen">
	<param name="vel_topic" value="velocity"/>
	<param name="base_link" value="map"/>
	<param name="child_link" value="base_link"/>
	</node>
</launch>
