<launch>

  <arg name="map_file" default="$(find rc_bringup)/map/home.yaml"/>

	<!-- Rplidar -->
	<include file="$(find rc_bringup)/launch/rplidar.launch"/>

	<!-- Get TF -->
	<include file="$(find rc_bringup)/launch/tf.launch"/>

	<!-- Get TF fron Laser -->
	<include file="$(find rc_bringup)/launch/odom_laser.launch"/>
	
	<!--remote controll -->	
	<node pkg="rc_bringup" name="rc_node" type="rc_control.py" respawn="true" output="screen">
	<param name="cmd_vel" value="rc_car/cmd_vel"/>
	<param name="max_vel" value="2.4"/>
	<param name="servo_pin" value="4"/>
	<param name="middle_servo" value="1500"/>
	<param name="servo_offset" value="47"/>    
	<param name="motor_pin" value="17"/>
	<param name="middle_motor" value="1550"/>
	</node>
		
	<!--tf to vel -->	
	<node pkg="rc_bringup" name="rc_vel_node" type="tf_to_vel.py" respawn="true" output="screen">
	<param name="vel_topic" value="rc_car/velocity"/>
	<param name="base_link" value="odom"/>
	<param name="child_link" value="base_link"/>
	</node>


	

</launch>
