<?xml version="1.0" encoding="utf-8"?>

<launch>

	<!--  **********  TFs **********  -->
	<arg name="pi" value="3.14159265358979" />
	<arg name="pi/2" value="1.5707963267948966" />
	<arg name="pi/4" value="0.785398163397448" />
 	<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
	<arg name="imu_rotate" value="0 0 0 -$(arg pi/2) 0 0" />


	<!-- base_footprint to base_link -->
	<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
	      args="0 0 0.09 0 0 0 base_footprint base_link 10"/>

	<!-- base_link to base_laser -->  	
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" 
	      args="0.08 0 0.07 0 0 1.0 0 base_link laser 10" />

	<!-- scanmatcher_frame to base_bootprint -->
	<!-- node pkg="tf" type="static_transform_publisher" name="scanmatcher_frame_to_base_footprint"
	      args="0.0 0 -0.115 0 0 0 scanmatcher_frame base_footprint 10" / -->


	<!--node pkg="tf" type="static_transform_publisher" name="scanmatcher_frame_to_base_footprint"
	      args="0 0 0 0 0 0 scanmatcher_frame base_footprint 10" />
-->
<!--
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom"
	      args="0 0 0 0 0 0 map odom 10" />
-->


</launch>
